{% extends "auctions/layout.html" %}

{% block body %}
<div class="alert alert-warning" role="alert">
<h3>Close listing</h3>

<p>Are you sure you want to close the listing: <a href="{% url 'listing-page' listing.id %}" class="alert-link">{{ listing.title }}</a>?</p>
<ul>
  <li>starting bid: ${{ listing.starting_bid }}</li>
  <li>last bid: <b>${{ last_bid.bid }}</b> ({{ last_bid.bidder }})</li>
</ul>
</div>

<form action="" method="POST">
  {% csrf_token %}
  <input class="btn btn-outline-danger" name="yes" type="submit" value="Yes, close">
  <input class="btn btn-outline-primary" name="no" type="submit" value="Cancel">

</form>
{% endblock %}