{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>

    {% if user.is_authenticated %}
        <a href="{% url 'switch-w' listing.id %}" type="button" class="btn-sm {% if wl %}btn btn-danger{% else %}btn btn-secondary{% endif %}">Watchlist</a>
    {% endif %}
<p></p>
    {% if listing.img_url %}
        <img src="{{listing.img_url}}" style="width: 30vw; margin: 10px">
    {% endif %}

    <p>{{ listing.description }}</p>

    <h2>${{ listing.starting_bid }}</h2>
    <div class="alert alert-secondary" role="alert">
      {{ bid_count }} bid(s) so far.<br>
        Max current bid: <b>${{ max_bid }}</b>
    </div>
    {% if user.is_authenticated %}
        <form action="" method="post">
            {% if error_message %}
            <div class="alert alert-danger" role="alert">
              <div>
                {{ error_message }}
              </div>
            </div>
            {% endif %}
            {% csrf_token %}
            {{ bid_form }}
            <input type="submit" value="Place Bid">
        </form>
    {% else %}
        <a href="{% url 'login'%}?next={{ request.get_full_path }}">Log in</a> if you want to bid in
    {% endif %}
    <h4>Details</h4>
    <ul>
        <li>Listed by: <a href="">{{ listing.seller }}</a></li>
        <li>Category:</li>
    </ul>

    <h4>Comments</h4>

        {% if user.is_authenticated %}
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="new_comment" placeholder="Enter your comment">
                <input type="submit" value="Add comment">
            </form>
        {% else %}
            <a href="{% url 'login'%}?next={{ request.get_full_path }}">Log in</a> if you want to leave a comment
        {% endif %}

    {% if comments %}
    <hr>
        {% for comment in comments %}
        <div class="w-25" style="background-color: #eee;">
            <p>{{ comment.user }}: {{ comment.text}}</p>
         </div>
        {% endfor %}
    {% else %}
    <hr>
    <p>No comments yet</p>
    {% endif %}

    {% endblock %}